table {
  width: 100%;
}
h5{
  margin-bottom: 0px;
  margin-top: 20px;
  font-weight: bold;
  color: #41419e;
}
mat-paginator{
display: flex;
justify-content: end;
align-items: stretch;
}
mat-card-content{
  padding: 0!important;
}
mat-icon{
  cursor: pointer;
}
.table{
  width: 96.5%;
  overflow-x: auto;
}
.header{
display: flex;
align-items: center;
justify-content: space-between;
}
.add-job{
  display: flex;
  padding: 10px 24px;
  justify-content: space-between;
  color: #41419e;
  align-items: center;
}
.add-job button{
color: #FFFFFF;
background-color: #41419e;
}
.submit{
display: flex;
justify-content: center;
}

.submit-btn{
background-color: #41419e;
color: #FFFFFF;
margin: 10px!important;
padding: 2px 68px;
}
.search-btn{
background-color: #41419e;
}
mat-form-field{
.mat-form-field-wrapper{
  margin: 0!important;
}
}
::ng-deep  {

.mat-form-field-appearance-outline .mat-form-field-wrapper{
  margin: 0!important;
}
}
.right-header-menu{
display: flex;
align-items: center;
gap:10px;
}
.date-filter{
display: flex;
gap: 10px;
align-items: baseline;
}
.filter-btn{
margin-right: 5px;
}

.date-filter{
display: flex;
align-items: baseline;

}
mat-form-field{
width: 250px;
padding: 18px 0 0 18px;
.mat-form-field-infix{
  padding:  8px 0 14px 0!important;
}
}
@media only screen and (max-width: 1024px) {
mat-form-field{
    width: 180px;
}
}
@media only screen and (max-width: 878px) {
mat-form-field{
    width: 180px;
}
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
opacity: 0.03 !important;
background-color: #41419e !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
background-color: #41419e;
}

.no-data{
text-align: center;
padding: 20px 12px ;
}

.r-5{
min-width: 50px;
}
.r-10{
min-width: 100px;
}
.r-15{
min-width: 150px;
}
.r-20{
min-width: 210px;
}
.r-30{
min-width: 310px;
max-width: 324px;
}
.action{
display: flex;
align-items: center;
}