<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>
          <h2>Reset Password</h2>
        </mat-card-title>
      </mat-card-header>
  
      <form class="example-form" name="loginForm" [formGroup]="loginForm" (ngSubmit)="save(loginForm.value)">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput type="password" formControlName = "OldPassword" placeholder="Old password">
            <mat-error *ngIf="loginFormErrors.OldPassword.required">
              Password is required
            </mat-error>
            <!-- <mat-error *ngIf="!loginFormErrors.OldPassword.required && loginFormErrors.OldPassword.OldPassword">
              Please enter a valid password
            </mat-error> -->
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
             <input matInput type="password" formControlName = "NewPassword" placeholder="New Password">
            <mat-error *ngIf="loginFormErrors.NewPassword.required">
                          password is required
                      </mat-error> 
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput type="password"  [class.is-invalid]='loginForm.errors?.misMatch' formControlName = "NewConfirmPassword" placeholder="New Confirm Password">
             <mat-error *ngIf="loginFormErrors.NewConfirmPassword.required">
                          password is required
                      </mat-error> 
          </mat-form-field>
          <mat-error *ngIf="loginForm.errors?.misMatch">Password Don't Match</mat-error>
        </mat-card-content> 
  
        <button mat-stroked-button class="btn-block" [disabled]="loginForm.invalid">Save</button>
      </form> 
    </mat-card>
  </div>
  