mat-card-title h2{
    font-size: 25px;
    text-align: center;
    color: #41419e;
}
mat-card.box{
    position: absolute;
    top:80px;
    
    /* background-color: salmon; */
}
button.btn-block{
    width :30% !important;
    margin-left:180px;
    margin-bottom: 21px;
}

.mat-card-header-text{
	width:100%;
}
.login{
    background-color: #41419e !important;
    color: white;
}
.mat-card{
    box-shadow: 5px 5px 5px 5px #41419e !important;
}
  