.submit {
    margin-top: 10px;
}

label {
    font-weight: 200;
    color: #ffff;
}

input {
    margin: 5px;
}

.button {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    color: blue;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 100%;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add {

    display: flex;
    padding: 10px 24px;
    justify-content: space-between;
    color: #41419e;
    align-items: center;

    & button {
        background-color: #41419e;
        color: #ffff;
    }

}

.add h5 {
    margin-bottom: 0px;
    margin-top: 20px;
    font-weight: bold;
    color: #41419e;
}
table{
    width: 96.5%;
    overflow-x: auto;
  }
.r-5 {
    min-width: 50px;
}

.r-10 {
    min-width: 100px;
}

.r-15 {
    min-width: 150px;
}

.r-20 {
    min-width: 210px;
}

.r-30 {
    min-width: 310px;
    max-width: 324px;
}
.action{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
mat-icon{
    cursor: pointer;
}
.table{
    width: 96.5%;
    overflow-x: auto;
}