table{
    width: 100%;
}
.r-5 {
    min-width: 50px;
}

.r-10 {
    min-width: 100px;
}

.r-15 {
    min-width: 150px;
}

.r-20 {
    min-width: 210px;
}

.r-30 {
    min-width: 310px;
    max-width: 324px;
}
.action{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
mat-icon{
    cursor: pointer;
}
