.loader-wrapper{
    z-index: 999999999999999;
    position: fixed;
    background-color: black;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top:0;
}
.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #2e2e9f;
    top: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    left: 47%;
    position: absolute;
    background-color: transparent;
    z-index: 2;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}