.loader-wrapper{
    z-index: 1500;
    position: fixed;
    background: rgba(5, 10, 24, 0.42);
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}
.loader {
    border: 7px solid rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    border-top: 7px solid hsl(236 48% 46%);
    top: 50%;
    width: 56px;
    height: 56px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: transparent;
    z-index: 2;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
