<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>
          <h2>Set New Password</h2>
        </mat-card-title>
      </mat-card-header>
  
      <form class="example-form" name="newPasswordForm" [formGroup]="newPasswordForm" (ngSubmit)="save(newPasswordForm.value)">
        <mat-card-content>
          <mat-form-field class="example-full-width">
             <input matInput type="password" formControlName = "NewPassword" placeholder="New Password">
            <mat-error *ngIf="newPasswordFormErrors.NewPassword.required">
                          password is required
                      </mat-error> 
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput type="password"  [class.is-invalid]='newPasswordFormErrors.errors?.misMatch' formControlName = "NewConfirmPassword" placeholder="Confirm Password">
        </mat-form-field>
        <mat-error *ngIf="newPasswordForm?.errors?.misMatch">
          Password Don't Match
        </mat-error> 
        </mat-card-content> 
  
        <button mat-stroked-button class="btn-block" [disabled]="newPasswordForm.invalid">Save</button>
      </form> 
    </mat-card>
  </div>
  