canvas {
    display: block;
    border: 1px solid 
  rgb(105, 105, 105);
  height: 100%;
    width: 100%;
    background-color: var(--ion-color-success);
}
signature-pad{
    border: 1px solid #777;
}
.button{
    padding: 24px 8px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.pad{
    padding: 24px 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}