<mat-card class="box">
    <mat-card-header>
        <mat-card-title>
            <h2>Forget Password</h2>
        </mat-card-title>
    </mat-card-header>

    <form class="example-form">
        <mat-card-content>
            <mat-form-field class="example-full-width" >
                <input matInput type="text" placeholder="Mobile No." [disabled]="otpInput" [formControl] = "mobileNo">
            </mat-form-field>

            <!-- display when opt is generated -->
            <mat-form-field class="example-full-width" *ngIf="otpInput">
                <input matInput type="number" placeholder="Otp"  [formControl] = "otp">
            </mat-form-field>
        </mat-card-content>

        <button
         mat-stroked-button
         *ngIf="!otpInput"
         class="btn-block" 
         (click)="getOtp()" 
         [disabled]="otpInput && mobileNo.valid"
         >
         Get OTP
        </button>
        <button
        mat-stroked-button
        *ngIf="otpInput"
        class="btn-block"
        (click)="submitOtp()" 
        >
        submit
       </button>
    </form>
    <div class="login">
        <a
        (click)="login()"
        >Back To Login</a>
    </div>
</mat-card>