/* .login-wrapper{
    margin: 10% auto;
} */
mat-card-title h2{
    font-size: 25px;
    text-align: center;
    color: #41419e;
}
mat-card{
    max-width: 345px;
    margin: 10px auto;
    top: 145px;
}
button.btn-block{
    width :30% !important;
    margin-left:180px;
    margin-bottom: 21px;
}

.mat-card-header-text{
	width:100%;
}
.login{
    background-color: #41419e !important;
    color: white;
}
.mat-card{
    box-shadow: 5px 5px 5px 5px #41419e!important;
}
 .login{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    background-color: aliceblue!important;
    color: #41419e!important;
 }
 a{
    cursor: pointer;
 }