.toggle{
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 6px;
}
.table-card .mat-header-cell,
.table-card .mat-cell{
    font-size: 12px;
}
.edit-driver{
    text-align: center;
}
.search-btn{
  background-color: #41419e;
}
.mat-button-toggle-checked{
    background-color: #41419e!important;
    color: #FFFFFF;
}
.action{
    display: flex;
    align-items: center;
    gap: 8px;
}
mat-button-toggle-group{
border-radius: 4px; 
}
mat-form-field.invoice{
    width: 150px;
    margin-right: 20px;
}
@media only screen and (max-width: 1024px) {
    .form-toolbar mat-form-field{
        width: 180px;
    }
}
@media only screen and (max-width: 878px) {
    .form-toolbar mat-form-field{
        width: 160px;
    }
}
.no-data{
    text-align: center;
    padding: 20px 12px ;
}
mat-icon{
    cursor: pointer;
}
.option-driver{
    margin: 18px 0px;
}
.r-5{
    min-width: 50px;
}
.r-10{
    min-width: 100px;
}
.r-15{
    min-width: 150px;
}
.r-20{
    min-width: 210px;
}
.r-30{
    min-width: 310px;
    max-width: 324px;
}
.pdf-delivering{
    display: none;
}

.unpaid{
    text-align: center;
    color: red;
}
.paid{
    text-align: center;
    color: green;
}

table{
    width: 100%!important;
}

