
  p {
  position:absolute;
  top:50px;
  left:250px;
  font-size: 120px;
  font-weight: bold;
}
mat-card{
    height: calc(100% - 128px)!important;
    overflow: auto;
}
.btn-group{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
button{
  padding: 10px 18px;
  color: #FFFFFF;
  background-color: #1e88e5;
  border: none;
  border-radius: 4px;
}