mat-card-title h2{
    font-size: 25px;
    text-align: center;
    color: #41419e;
}
mat-card.box{
    position: absolute;
    top:145px;
}
mat-card-content{
    margin-bottom: 0;
}
.example-form .mat-form-field{
    display: block;
    margin-bottom: 16px;
}
.example-form .mat-form-field:last-of-type{
    margin-bottom: 0;
}
button{
    cursor: pointer;
}
.btn-block{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-card-header-text{
	width:100%;
}
.mat-card{
    box-shadow: 5px 5px 5px 5px #41419e !important;
}

.header_login{
    height:64px;
    width:100%;
    background-color: #41419e;
}
.dark-logo{
    width: 200px;
    padding-top: 7px;
    padding-bottom: 7px;
    display: block;
    margin: 0 auto;
}

.header{
    font-size: 25px;
    text-align: center;
    color: #41419e;
    font-weight: 300;
}

.header-title{
    text-align: center;
}

img{
    height: 66px;
    width: 100%;
}

/* matSuffix handles the password icon positioning */
