<mat-card class="page-card">
    <div class="page-header">
        <h5 class="page-title">My Jobs</h5>
    </div>
    <div class="jobs-wrap">
        <div class="jobs-grid" *ngIf="dataSource.data.length; else noJobs">
            <div class="job-card" *ngFor="let element of dataSource.data; let i = index">
                <div class="job-card__header">
                    <span class="job-card__index">#{{i + 1}}</span>
                    <span class="job-card__invoice">DO {{element.invoiceNumber || '-'}}</span>
                    <span class="job-card__status" [class.job-card__status--done]="router.url.includes('Delivered')">
                        {{router.url.includes('Delivering') ? 'In Progress' : 'Delivered'}}
                    </span>
                </div>

                <div class="job-card__customer">{{(element.customer_firstName || '') + ' ' + (element.customer_lastName || '')}}</div>
                <div class="job-card__address">
                    {{element.deliveryAddress || element.customer_deliveryAddress || '-'}}
                </div>

                <div class="job-card__actions">
                    <button mat-stroked-button type="button" (click)="showAddress(address)">
                        <mat-icon>visibility</mat-icon>
                        View Address
                    </button>

                    <button *ngIf="router.url.includes('Delivering')" mat-raised-button color="primary" type="button"
                        (click)="completeOrder(element)">
                        Submit Delivery
                    </button>

                    <div *ngIf="router.url.includes('Delivered')" class="done-pill">
                        <mat-icon>done</mat-icon>
                        Completed
                    </div>
                </div>

                <ng-template #address class="address-model">
                    <h1 mat-dialog-title class="text-center">Delivery Address</h1>
                    <mat-divider></mat-divider>
                    <div mat-dialog-content>
                        <p class="text">{{element.deliveryAddress || element.customer_deliveryAddress}}</p>
                    </div>
                    <div mat-dialog-actions class="btn">
                        <button mat-button data-toggle="tooltip" title="Location" class="mapbutton" *ngIf="element.zipcode"
                            (click)="openlocation(element.zipcode)">
                            Open Map
                            <mat-icon class="location">location_on</mat-icon>
                        </button>
                        <button mat-button mat-dialog-close cdkFocusInitial color="primary">Ok</button>
                    </div>
                </ng-template>
            </div>
        </div>

        <ng-template #noJobs>
            <div class="jobs-empty">
                <h4>No Jobs Available</h4>
            </div>
        </ng-template>
    </div>
</mat-card>
