extends _baseEmail

block content
    h3(style={color:"red"}) Order Delivered
    p Dear #{name},
    p Your Order has been Delivered,
    p This is Confirmation for your Delivered Order
    p Thank you.