.driver-btn{
    border-top: 1px solid #1e88e5;
    padding: 22px 8px ;
    display: flex;
    justify-content: flex-end;
    gap: 14px;
    align-items: center;
}
mat-card{
    max-height: calc(100% - 128px)!important;
    overflow: auto;
}

.profiletitle{
    padding: 10px 24px;
}