// @import "src/@fuse/scss/fuse";

.mat-form-field{
    padding-right: 10px;
}

.contact-form-dialog {

    // @include media-breakpoint('xs') {
    //     width: 100%;
    // }

    // @include media-breakpoint-up('xs') {
    //     width: 400px;
    // } 

    .mat-dialog-container {
        padding: 0;

        .mat-toolbar {
            flex: 1 0 auto;
            min-height: initial;
        }

        .toolbar-bottom {
            height: auto;
        }
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }

    img.source-image{
        max-width: 50% !important;
    }
}