<h1>{{title}}</h1>
<div class="main">
    <mat-card>
        <mat-card-content>
            <div class="wrapper">
                <form class="example-form" [formGroup]="customerForm" (ngSubmit)="onSubmit()">
                    <mat-card-content>
                        <mat-form-field class="example-full-width">
                            <input matInput formControlName="firstName" placeholder="First Name"
                                autocomplete="off">

                        </mat-form-field>
                        <div *ngIf="customerForm.get('firstName').invalid && (customerForm.get('firstName').dirty || customerForm.get('firstName').touched)">
                            <mat-error *ngIf=" customerForm.get('firstName').hasError('required')">
                                First Name is Required!
                            </mat-error>
                            <mat-error *ngIf="customerForm.get('firstName').hasError('pattern')">
                                First Name is invalid.
                            </mat-error>
                        </div>
                        <mat-form-field class="example-full-width">
                            <input matInput formControlName="lastName" placeholder="Last Name"
                                autocomplete="off">
                        </mat-form-field>
                        <div *ngIf="(customerForm.get('lastName').dirty || customerForm.get('lastName').touched)">
                            <mat-error *ngIf="customerForm.get('lastName').hasError('pattern')">
                                Last Name is invalid.
                            </mat-error>
                        </div>
                        <mat-form-field class="example-full-width">
                            <input matInput formControlName="companyName" placeholder="Company Name"
                                autocomplete="off" >
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput formControlName="email"  placeholder="Email" autocomplete="off">
                        </mat-form-field>
                        <div *ngIf="customerForm.get('email').dirty || customerForm.get('email').touched">
                            <mat-error *ngIf="customerForm.get('email').hasError('pattern')">
                                Email is invalid.
                            </mat-error>
                        </div>

                        <div class="phoneFild">
                            <mat-form-field>
                                <mat-label> country code</mat-label>
                                <mat-select formControlName="code">
                                    <mat-option value="+65">
                                        +65
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input matInput formControlName="phone" class="phoneNumber" placeholder="Phone Number" 
                                    autocomplete="off" min-length="8" max-length="8">
                            </mat-form-field>
                        </div>
                        <div *ngIf="customerForm.get('phone').invalid && (customerForm.get('phone').dirty || customerForm.get('phone').touched)"> 
                            <mat-error *ngIf="customerForm.get('phone').hasError('required')">
                                Number Is Required!
                            </mat-error>
                            
                            <mat-error *ngIf="customerForm.get('phone').hasError('pattern')">
                                Phone number only contain 8 number 
                            </mat-error>
                        </div>
                        <mat-form-field class="example-full-width">
                            <input matInput formControlName="address" placeholder="Address" type="text"
                                autocomplete="off">
                        </mat-form-field>
                        <mat-form-field class="example-full-width" *ngIf="false">
                            <input matInput formControlName="userRole" placeholder="userRole" type="text"
                                autocomplete="off">
                        </mat-form-field>
                    </mat-card-content>

                    <button mat-raised-button color="primary" [disabled]="customerForm.invalid">Submit</button>

                </form>
            </div> 
        </mat-card-content>
    </mat-card>
</div>
